<div class="row">
  <div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box grey-cascade">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-globe"></i>Active Blogs
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse">
          </a>
          <a href="#portlet-config" data-toggle="modal" class="config">
          </a>
          <a href="javascript:;" class="reload">
          </a>
          <a href="javascript:;" class="remove">
          </a>
        </div>
      </div>
      <div class="portlet-body">

        <table class="table table-striped table-bordered table-hover" id="blog_table">
          <thead>
          <tr>
            <th>
              Title
            </th>
            <th>
             Description
            </th>
            <th style="width: 100px">
              Action
            </th>
          </tr>
          </thead>
          <% unless @blogs.blank? %>
              <tbody>
              <% @blogs.each_with_index do |blog, index| %>
                  <tr class="odd gradeX">
                    <td>
                      <%= blog.title %>
                    </td>
                    <td>
                      <%= blog.description %> </a>
                    </td>
                    <td>
                      <% if blog.is_archived == true %>
                          <a href="javascript:void(0)" style="text-decoration:none" onclick="disable_user('<%=blog.id%>', <%=blog.is_archived%>)">
                            <span class="icon fa fa-power-off user_status" id="user_<%= blog.id %>"></span>
                          </a>
                      <% else %>
                          <a href="javascript:void(0)" style="text-decoration:none" onclick="disable_user('<%=blog.id%>', <%=blog.is_archived%>)">
                            <span class="icon fa user_status fa-rotate-right" id="user_<%= blog.id %>"></span>
                          </a>
                      <% end %>
                      &nbsp;&nbsp;&nbsp;
                      <%= link_to "Edit", edit_super_admin_blog_path(blog.id), :style => "text-decoration:none" %>
                      &nbsp;&nbsp;&nbsp;  </td>
                  </tr>
              <% end %>
              </tbody>
          <% end %>
        </table>
      </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
  </div>
</div>
