<p><%= @first_name %> <%= @last_name %> just request for become driver</p>

First Name: <%= @first_name %>
Last Name: <%= @last_name %>
Phone Number: <%= @phone_number %>
Email: <%= @email %>
Vehicle: <%= @vehicle_name %>
